VITE_SUPABASE_URL=https://hoqyimvckixanrceuoee.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvcXlpbXZja2l4YW5yY2V1b2VlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0OTcwODUsImV4cCI6MjA4OTA3MzA4NX0.RWk6Y99fH049PMGVBsCzQ5h6CchlcEO9gfbQDxAIZbk
VITE_TURNSTILE_SITE_KEY=0x4AAAAAACrW9u4BLYX6HMFc
VITE_API_BASE_URL=http://localhost:3000
